<div class="row" style="text-align: center; ">
  <div class="col-sm-4 col-lg-3"></div>
  <div class="col-sm-4 col-lg-4" id="login">
    <img class="logo img-responesive" src="assets/img/login.png">
    <h1 class="h3 mb-3 font-weight-normal"></h1>
    <!-- <form> -->
      <div class="form-group">
        <input type="text"      class="form-control"  placeholder="อีเมล์" [(ngModel)]="user.email">
        <input type="password"  class="form-control"  placeholder="รหัสผ่าน" [(ngModel)]="user.password">
      </div>
      <!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div> -->
      <button type="submit" class="btn btn-success btn-lg btn-block" (click)="login(user)">เข้าสู่ระบบ</button>
   <!--  </form> -->
      <!-- <div *ngIf="message" class="alert alert-danger" role="alert">
          {{message}}
      </div> -->
      <div *ngIf="message" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Message!</strong> {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  </div>
  <div class="col-sm-4 col-lg-4 "></div>
</div>

<!-- <div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  OK
</div> -->




