#login{
    padding: 7rem 1.5rem 1rem 1.5rem; 
     /* 
     padding-top
     padding-right
     padding-bottom
     padding-left
  */
     text-align: center;
}

.logo{
    height: 50%;
    width: 50%;
    /* background-color: powderblue; */
}

