<div class="container">
  <div class="starter-template">
    <h1>View Personal</h1>
    <br>
    <!-- <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{approvePersonal.Personal.pictureProfile}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Pictuer Personal</p>
            </div>
          </div>

        </div>
        <div class="col-lg-8">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{approvePersonal.Personal.picturePersonalCard}}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Pictuer PersonalCard</p>
            </div>
          </div>
          <br>
          <ul class="list-group text-left">
            <li class="list-group-item">Name : {{approvePersonal.Personal.titleName}} {{approvePersonal.Personal.firstName}} {{approvePersonal.Personal.lastName}}</li>
            <li class="list-group-item">Birthday : {{approvePersonal.Personal.birthday}}</li>
            <li class="list-group-item">Address : {{approvePersonal.Personal.address}}</li>
            <li class="list-group-item">Metier : {{approvePersonal.Personal.metier}}</li>
            <li class="list-group-item">PhoneNumber : {{approvePersonal.Personal.phoneNumber}}</li>
            <li class="list-group-item">PersonalID : {{approvePersonal.Personal.personalNumber}}</li>
          </ul>
          <br>
          <div class="form-group text-left">
            <label for="exampleInputEmail1">Description</label>
            <textarea class="form-control" [(ngModel)]="approvePersonal.description" aria-label="With textarea"></textarea>
          </div>
          <button type="button" class="btn btn-success" (click)="approve(approvePersonal)">Approve</button>
          <button type="button" class="btn btn-danger" (click)="reject(approvePersonal)">Reject</button>
          <button type="button" class="btn btn-dark" (click)="back()">Cancel</button>
        </div>
      </div>
    </div>


  </div>
  <br>
</div>