<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <h1 class="navbar-brand">Authy-Blockchain</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- <button class="btn btn-outline-primary my-2 my-sm-0">anusondd@gmail.com</button> -->
    </ul>


    <div class="dropleft dropdown account">
      <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{profile.email}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" (click)="account()">Profile</a>
        <a class="dropdown-item" (click)="resetPassword()">Reset Password</a>
        <a class="dropdown-item" (click)="logOut()">LogOut</a>
      </div>
    </div>
    <!-- <div class="logOut">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logOut()" >LogOut</button>
    </div> -->

  </div>
</nav>
