<div class="container">
  <div class="starter-template">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      
  </div>  
</div>



<h1>user works!</h1>





<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Sort</th>
      <th>Statust</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let useres of users; let i = index" (click)="modify(useres)" >
      <th scope="row">{{i}}</th>
      <td>{{useres.firstname}}</td>
      <td>{{useres.lastname}}</td>
      <td>{{useres.sort}}</td>
      <td>{{useres.statust}}</td>
      <td>
        <button type="button" class="btn btn-warning" (click)="modify(useres)" >Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="remove(useres.$key)">Remove</button>
      </td>
    </tr>    
  </tbody>
</table>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>First name</label>
      <input type="text" class="form-control"  placeholder="First name" [(ngModel)]="user.firstname">
    </div>
    <div class="form-group col-md-6">
      <label>Last name</label>
      <input type="text" class="form-control"  placeholder="Last name" [(ngModel)]="user.lastname">
    </div>
  </div>
 
    <button type="button" (click)="save(user)"    class="btn btn-success  float-right" *ngIf="key==''" >Save</button>
  
    <button type="button" (click)="update(user)"  class="btn btn-warning  float-right" *ngIf="key" >Update</button>
    <button type="button" (click)="clear(user)"   class="btn btn-info     float-right" *ngIf="key" >clear</button>
  
  
  


  
  


  
  
  

  

