body {
    padding-top: 80px; 
 }
 .starter-template {
     /* padding: 5rem 1.5rem; */
     padding: 5rem 1.5rem 1rem 1.5rem; 
     /* 
     padding-top
     padding-right
     padding-bottom
     padding-left
  */
     text-align: center;
 }
 
 