
<section id="index" *ngIf="section=='index'" >
  <h1>จัดการหมวดหมู่โครงการ</h1>
  <h3 style="text-align: center;">ตารางจัดการหมวดหมู่โครงการ</h3>
  <button class="btn btn-primary float-right" (click)="gotoAdd()" >เพิ่มข้อมูล</button>
  <br><br><br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 5%;" >ลำดับ</th>
          <th style="width: 20%;" >ชื่อ</th>
          <th style="width: 20%;" >รูปหมวดหมู่</th>
          <th style="width: 10%;" >จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categoryList; let i = index">
          <td>{{i+1}}</td>
          <td>{{category.name}}</td>
          <td>
              <img  [src]="category.image" style="width: 190px; height: 120px;" class="img-responsive">
              
          </td>
          <td>
            <button class="btn btn-info"  (click)="gotoEdit(category)" >แก้ไข</button>
            <button class="btn btn-danger">ลบ</button>
          </td>
          <!-- <td>
            <button *ngIf="user.permission==false" (click)="permission(user)"  class="btn btn-danger" >คลิกเพื่อเปิด</button>
            <button *ngIf="user.permission==true"  (click)="permission(user)" class="btn btn-success" >คลิกเพื่อปิด</button>
          </td> -->
        </tr>
        
      </tbody>
    </table>
  </div>
</section>

<section id="add" *ngIf="section=='add'">
  <div class="col-lg-8">
  <h1>เพิ่มหมวดหมู่โครงการ</h1>
  <button class="btn btn-danger float-left" (click)="gotoIndex()" >กลับ</button> 

  <br>
  <br>
  <br>
  <br>
  
    <div class="form-group">
      <label for="exampleFormControlSelect1">หมวดหมู่</label>
    <select class="form-control" [(ngModel)]="category.name" id="exampleFormControlSelect1">
        <option value="เชียงใหม่" >เชียงใหม่</option>
        <option value="แม่ฮ่องสอน" >แม่ฮ่องสอน</option>
        <option value="เชียงราย" >เชียงราย</option>
        <option value="พะเยา">พะเยา</option>
        <option value="แพร่">แพร่</option>
        <option value="ลำปาง">ลำปาง</option>
        <option value="ลำพูน">ลำพูน</option>
        
      </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">รูปปกหมวดหมู่ กว้าง 512px * สูง 288px</span>
        </div>
        <div class="custom-file">
          <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="inputGroupFile01">
          <input type="hidden" id="avatar" [(ngModel)]="category.image" value=""   class="form-control" required>
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
      <img  [src]="category.image" class="img-responsive">
    <button class="btn btn-success float-right" (click)="save(category)" >เพิ่มข้อมูล</button>
  </div>  

</section>

<section id="edit" *ngIf="section=='edit'">
  <div class="col-lg-8">
  <h1>แก้ไขหมวดหมู่โครงการ</h1>
  <button class="btn btn-danger float-left" (click)="gotoIndex()" >กลับ</button> 

  <br>
  <br>
  <br>
  <br>
  
    <div class="form-group">
      <label for="exampleFormControlSelect1">หมวดหมู่</label>
    <select class="form-control" [(ngModel)]="category.name" id="exampleFormControlSelect1">
        <option value="เชียงใหม่" >เชียงใหม่</option>
        <option value="แม่ฮ่องสอน" >แม่ฮ่องสอน</option>
        <option value="เชียงราย" >เชียงราย</option>
        <option value="พะเยา">พะเยา</option>
        <option value="แพร่">แพร่</option>
        <option value="ลำปาง">ลำปาง</option>
        <option value="ลำพูน">ลำพูน</option>
        
      </select>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">รูปปกหมวดหมู่ กว้าง 512px * สูง 288px</span>
        </div>
        <div class="custom-file">
          <input type="file" (change)="onFileChange($event)" class="custom-file-input" id="inputGroupFile01">
          <input type="hidden" id="avatar" [(ngModel)]="category.image" value=""   class="form-control" required>
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
      <img  [src]="category.image" class="img-responsive">
    <button class="btn btn-success float-right" (click)="update(category)" >บันทึกข้อมูล</button>
  </div>  

</section>
