
        <h1>จัดการสมาชิก</h1>

        <!-- <section class="row text-center placeholders">
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <div class="text-muted">Something else</div>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
        </section> -->

        <h3 style="text-align: center;">ตารางจัดการสมาชิก</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 5%;" >ลำดับ</th>
                <th style="width: 20%;" >ชื่อ</th>
                <th style="width: 20%;" >นามสกุล</th>
                <th style="width: 20%;" >Email</th>
                <th style="width: 5%;"  >เพศ</th>
                <th style="width: 5%;" >อายุ</th>
                <th style="width: 10%;" >จัดการสิทธิ์</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList; let i = index">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.sex}}</td>
                <td>{{user.age}}</td>
                <td>
                  <button *ngIf="user.permission==false" (click)="permission(user)"  class="btn btn-danger" >คลิกเพื่อเปิด</button>
                  <button *ngIf="user.permission==true"  (click)="permission(user)" class="btn btn-success" >คลิกเพื่อปิด</button>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      