<div class="container">
  <div class="starter-template">
      <h3>Personal Management</h3>
      <!-- <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p> -->
      
  </div>
  <br>

    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Full Name</th>
          <th>Statust</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let approver of approvePersonal; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{approver.Personal.titleName}} {{approver.Personal.firstName}} {{approver.Personal.lastName}}</td>
          <td>
            <button *ngIf="approver.statusApprove==true" type="button" class="btn btn-success" >ON</button>
            <button *ngIf="approver.statusApprove==false" type="button" class="btn btn-dark" >OFF</button>
          </td>
          <td>
            <button  type="button" class="btn btn-primary" (click)="view(approver)" >View Detail</button>
          </td>
        </tr>    
      </tbody>
    </table>
    
</div>
