<h1>จัดการวิดีโอโครงการ</h1>

<h3 style="text-align: center;">ตารางจัดการวิดีโอ</h3>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 5%;" >ลำดับ</th>
        <th style="width: 20%;" >ชื่อวิดีโอ</th>
        <th style="width: 20%;" >รายละเอียด</th>
        <th style="width: 20%;" >Link</th>
        <th style="width: 20%;" >หมวดหมู่</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let user of userList">
        <td>1</td>
        <td>{{user.name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.sex}}</td>
        <td>{{user.age}}</td>
        <td>
          <button *ngIf="user.permission==false" (click)="permission(user)"  class="btn btn-danger" >คลิกเพื่อเปิด</button>
          <button *ngIf="user.permission==true"  (click)="permission(user)" class="btn btn-success" >คลิกเพื่อปิด</button>
        </td>
      </tr>
       -->
    </tbody>
  </table>
</div>
