<section id="index" *ngIf="section=='index'">
  <h1>จัดการวิดีโอโครงการ</h1>

  <h3 style="text-align: center;">ตารางจัดการวิดีโอ</h3>
  <button class="btn btn-primary float-right" (click)="gotoAdd()">เพิ่มวิดีโอ</button>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 5%;">ลำดับ</th>
          <th style="width: 20%;">ชื่อวิดีโอ</th>
          <th style="width: 20%;">รายละเอียด</th>
          <th style="width: 20%;">หมวดหมู่</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let video of videoList; let i =index">
          <td>{{i+1}}</td>
          <td>{{video.name}}</td>
          <td>{{video.detail}}</td>
          <td>{{video.category}}</td>
          <td>
            <iframe class="e2e-iframe-trusted-src" width="300" height="200" [src]="video.link | apiYoutube"></iframe>
          </td>
          <td>
            <button (click)="gotoEdit(video)" class="btn btn-success">แก้ไข</button>
            <button (click)="delete(video)" class="btn btn-danger">ลบ</button>
          </td>
        </tr>

      </tbody>

    </table>
  </div>
</section>

<section id="add" *ngIf="section=='add'">
  <div class="col-lg-8">
    <h1>เพิ่มวิดีโอแนะนำ</h1>
    <button class="btn btn-danger float-left" (click)="gotoIndex()">กลับ</button>
    <br>
    <br>
    <br>
    <br>

    <div class="form-group">
      <label for="exampleFormControlInput1">ชื่อวิดีโอ</label>
      <input type="text" class="form-control" [(ngModel)]="video.name">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">หมวดหมู่</label>
      <select class="form-control" [(ngModel)]="video.category" id="exampleFormControlSelect1">
        <option *ngFor="let project of projectList" value="{{project.name}}">{{project.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">รายละเอียด</label>
      <textarea [(ngModel)]="video.detail" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">ลิงค์วิดีโอ</label>
      <input type="text" class="form-control" [(ngModel)]="video.link" placeholder="ลิงค์วิดีโอ">
    </div>
    <iframe class="e2e-iframe-trusted-src" width="500" height="300" [src]="video.link | apiYoutube"></iframe>
    <button class="btn btn-success float-right" (click)="save(video)">บันทึกข้อมูล</button>
  </div>
</section>


<section id="edit" *ngIf="section=='edit'">
  <div class="col-lg-8">
    <h1>แก้ไขวิดีโอแนะนำ</h1>
    <button class="btn btn-danger float-left" (click)="gotoIndex()">กลับ</button>
    <br>
    <br>
    <br>
    <br>

    <div class="form-group">
      <label for="exampleFormControlInput1">ชื่อวิดีโอ</label>
      <input type="text" class="form-control" [(ngModel)]="video.name">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">หมวดหมู่</label>
      <select class="form-control" [(ngModel)]="video.category" id="exampleFormControlSelect1">
        <option *ngFor="let project of projectList" value="{{project.name}}">{{project.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">รายละเอียด</label>
      <textarea [(ngModel)]="video.detail" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">ลิงค์วิดีโอ</label>
      <input type="text" class="form-control" [(ngModel)]="video.link" placeholder="ลิงค์วิดีโอ">
    </div>
    <iframe class="e2e-iframe-trusted-src" width="500" height="300" [src]="video.link | apiYoutube"></iframe>
    <button class="btn btn-success float-right" (click)="update(video)">บันทึกข้อมูล</button>
  </div>
</section>